::-webkit-scrollbar{ width: 0; }

body { margin: 0; padding: 10px; width: 270px; }
ul { list-style: none; padding: 0; }

.right { float: right;  }

section { clear: both; }
section + section { margin-top: 10px; }
section input[type="checkbox"] { vertical-align: text-top; }

section > input:first-child + label ~ * { display: none; }
section > input:first-child:checked + label ~ * { display: block; margin: 5px 0 0 20px; width: 250px; }

.notification { display: none; margin-left: 5px; color: #00C665; }
div > .notification { margin-right: 5px; }
